<h1>List of your shusher profiles </h1>
<% if @entire_shushers == nil %>
  You don't have any Shusher profiles active. 
<% end %>
<%= button_to "Add a new Shusher profile", class: "btn btn-primary btn-lg" %> 
<hr>


<div id="new_shusher_form">
  <%= render "form" %>
</div>
<hr>

<div class="row">

    <% @entire_shushers.each do |s| %>
      <div class="col-sm-4 col-md-4">
        <div class="well">
          <h2><%= link_to s.name, s %></h2>
          <ul>
            <li><%= s.sound_threshold %></li>
            <li><%= s.shout_msg %></li>
            <li><%= s.mac_address %></li>
            <li><%= s.user.first_name %> <%= s.user.last_name %></li>

            <!-- 'cancancan' restriction at Viewer level -->
            <% if can? :manage, s %>
              <%= link_to "Edit Shusher", edit_shusher_path(s), class: "btn btn-info btn-md" %>
              <%= link_to "Delete Shusher",  shusher_path(s), 
                method: :delete, data: {confirm: "Delete this Shusher model?"}, class: "btn btn-danger btn-md" %>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

</div>
