<h1 style="display: inline">List of <%=current_user.first_name %>'s Shushers</h1>
<% if @all_user_shushers == nil %>
  You don't have any Shusher profiles, please create a new one. 
<% end %>


<%#= link_to "Create a new Shusher profile", new_shusher_path, class: "btn btn-primary btn-lg", remote: true %>

<!-- Button trigger modal -->
<button type="button" href="<%= new_shusher_path %>" data-toggle="modal" data-target="#basicModal" class="btn btn-primary btn-lg pull-right open-shusher-profile-modal">Add Shusher</button>


<!-- Modal -->
<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="basicModalLabel">New Shusher:</h4>
      </div>

      <div class="modal-body form-horizontal">
        <%#= render "form" %>  <!-- pull in from HREF _form.html.erb -->
      </div>

      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>



<div class="row shusher-index">

    <% @all_user_shushers.each do |s| %>
      <div class="col-sm-4 col-md-4 shusher-<%=s.id%>">
        <div class="well">
          <h2><%= link_to s.name, s %></h2>
          <ul>
            <li>Sound Threshold:
              <% if s.sound_threshold == -1 %>
                <strong><em><%= "Disabled" %></em></strong>
              <% else %>
                <%= s.sound_threshold %>
              <% end %>
            </li>
            <li><strong><em><%= s.shout.shout_msg %></em></strong></li>
            <li>MAC: <%= s.mac_address %></li>
            <li>User: <%= s.user.first_name %> <%= s.user.last_name %></li>

            <!-- 'cancancan' restriction at Viewer level -->
            <% if can? :manage, s %>

              <button type="button" href="<%= edit_shusher_path(s) %>" data-toggle="modal" data-target="#basicModal" class="btn btn-warning btn-sm"><span display="inline">Edit</span></button>
              <%#= link_to "Edit", edit_shusher_path(s), class: "btn btn-primary btn-md", data: {toggle: 'modal', target: '#basicModal'} %>
              <%= link_to "Delete", shusher_path(s), class: "btn btn-default btn-sm", method: :delete, data: {confirm: "Delete this Shusher model?"}, remote: true %>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

</div>
