<h1>List of <%=current_user.first_name %>'s Shusher profiles </h1>
<% if @all_user_shushers == nil %>
  You don't have any Shusher profiles, please create a new one. 
<% end %>


<%= link_to "Create a new Shusher profile", new_shusher_path, class: "btn btn-primary btn-lg", remote: true %> 



<div id="shusher-form" style="display:none">
  <%#= render "form" %>
</div>


<div class="row shusher-index">

    <% @all_user_shushers.each do |s| %>
      <div class="col-sm-4 col-md-4">
        <div class="well">
          <h2><%= link_to s.name, s %></h2>
          <ul>
            <li><%= s.sound_threshold %></li>
            <li><%= s.shout_msg %></li>
            <li><%= s.mac_address %></li>
            <li><%= s.user.first_name %> <%= s.user.last_name %></li>

            <!-- 'cancancan' restriction at Viewer level -->
            <% if can? :manage, s %>
              <%= link_to "Edit Shusher", edit_shusher_path(s), class: "btn btn-info btn-md", remote: true %>
              <%= link_to "Delete Shusher",  shusher_path(s), class: "btn btn-danger btn-md", method: :delete, data: {confirm: "Delete this Shusher model?"}, remote: true %>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

</div>
