<div class="navheader">

  <div class="col-md-2 text-center">
    <%= link_to image_tag("codecore_drill.png", :class => 'navlogo'), root_path %>
  </div>

    

  <% if user_signed_in? %>
  
    <div class="col-md-2 navbutton text-center">
      <%= link_to "All Drills", all_drills_path, class: "navlink"%>
    </div>

    <div class="col-md-2 navbutton text-center">
      <%= link_to "My Drills", my_drills_path, class: "navlink"%>
    </div>


    <div class="col-md-2 navbutton text-center">
      <%= link_to "About", about_path, class: "navlink" %>
    </div>

    <div class="col-md-2 navbutton text-center">
      <%= link_to "My Account", edit_user_path(current_user), class: "navlink" %>
    </div>

    <div class="col-md-2 navbutton text-center">
      <%= link_to "Sign Out", sessions_path, method: :delete, class: "navlink" %>
    </div>
    
    
  <% else %>
    <!-- <div class="col-md-2 navbutton text-center">
      <%# link_to "Sign In", new_session_path, class: "navlink" %>
    </div> -->
   <!--  SignUp modal -->
 
  
    <div class="col-md-2 navbutton text-center">
      <%= link_to "All Drills", all_drills_path, class: "navlink"%>
    </div>

    <div class="col-md-2 navbutton text-center">
      <%= link_to "About", about_path, class: "navlink" %>
    </div>

    <!-- SignUp modal -->
    <div class="col-md-2 navbutton text-center" data-toggle="modal" data-target=".bs-example-modal-lg">
      <a class="navLink">Sign Up</a>
    </div>


    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="flash-messages">
          </div>
          <div class="user-form">
            <%= render partial: '/users/form', locals: { user: @user } %>
          </div>
       </div>
      </div>
    </div>
  <% end %>

  </div>
</div>

<%# Added to display admin partial if current_user is admin %>
<% if user_signed_in? && current_user.is_admin %>
  <%= render 'layouts/admin' %>
<% end %> 